<%= render "shared/header" %>
<div class="registration-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">新規登録</h1>
  </div>
</div>
<%= form_with model: @consignment_side_user, url: consignment_side_user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="form-group">
    <p class="warning-note">※会社をお探しの方</p>
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :last_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
      <%= f.text_field :first_name, class:"input-name", id:"first-name", placeholder:"例) 太郎" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :last_name_ruby, class:"input-name", id:"last-name-kana", placeholder:"例) ヤマダ" %>
      <%= f.text_field :first_name_ruby, class:"input-name", id:"first-name-kana", placeholder:"例) タロウ" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"account@domain.com", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">会社名</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :company_name, class:"input-default", id:"company_name", placeholder:"会社名を入力して下さい" %>
    <p class='info-text'>※個人事業主の方は「個人事業主」と記述ください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">電話番号</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :phone_number, class:"input-default", id:"phone_number", placeholder:"電話番号を入力して下さい" %>
    <p class='info-text'>※ハイフン含まず</p>
  </div>
  <div class='form-btn'>
    <div class='register-btn'>
      <%= f.submit "会員登録" ,class:"register-bronze-btn" %>
    </div>
    <%= link_to root_path, class:'root-path' do %>
      <span>戻る</span>
    <% end %>
  </div>
</div>
<% end %>
<%= render "shared/footer" %>
