<%= render "shared/header" %>
<div class="show-main">
  <div class="favorite-posts-title">
    <div class="title-bar-main">
      <h1 class="title-bar-main-content">会社詳細</h1>
    </div>
  </div>
  <%= render "shared/company_detail", post: @post %>
  <div class="show-btn-form">
    <% if contracted_side_user_signed_in? %>
      <div class="post-btn-form">
      <div class="posted-edit-btn-form">
        <%= link_to edit_post_path(@post), method: :get, class:"posted-edit-btn" do %>
          <i class="fas fa-edit">編集する</i>
        <% end %>
      </div>
      <div class="posted-delete-btn-form">
        <%= link_to post_path(@post), method: :delete, class:"posted-delete-btn" do %>
          <i class="far fa-trash-alt">削除する</i>
        <% end %>
      </div>
    </div>
    <% elsif %>
      <% if !Favorite.exists?(consignment_side_user_id: current_consignment_side_user.id, post_id: @post.id) %>
        <%= link_to "お気に入り", post_favorites_path(@post), method: :post, class:"favorite-btn" %>
      <% else %>
        <%= link_to "お気に入り解除", post_favorites_path(@post), method: :delete, class:"favorite-release-btn" %>
      <% end %>
    <% else %>
    <% end %>
  <div class="show-btn-form">
    <%# 評価の条件分岐を行う %>
    <%# if consignment_side_user_signed_in? && @review.present? %>
      <%= link_to "レビューを編集", "#", method: :get, class:"review-edit-btn" %>
    <%# else %>
      <%= link_to "この会社をレビュー", new_post_reviews_path(@post), method: :get, class:"review-new-btn" %>
    <%# end %>
  </div>
  </div>
<div>
<%= render "shared/footer" %>