<%= render "shared/header" %>
<div class="show-main">
  <div class="favorite-posts-title">
    <div class="title-bar-main">
      <h1 class="title-bar-main-content">会社詳細</h1>
    </div>
  <div class="company-information-main">
    <div class="company-information-wrap">
      <div class="company-show-list">
        <div class="company-show-content-img">
          <% if @post.nil? %>
            <%= image_tag "company-image.jpg", class: "company-show-img" %>
          <% end %>
          <%= image_tag @post.image, class: "company-show-img" %>
        </div>
        <div class="company-show-info-contents">
          <ul class="company-show-info-items">
            <li class="company-show-info-item">会社名</li>
            <li class="company-show-info-item">所在地</li>
            <li class="company-show-info-item">住所</li>
            <li class="company-show-info-item">建物名</li>
            <li class="company-show-info-item">従業員数</li>
            <li class="company-show-info-item">部署</li>
            <li class="company-show-info-item">代表者名</li>
            <li class="company-show-info-item">メールアドレス</li>
            <li class="company-show-info-item">電話番号（代表）</li>
            <li class="company-show-info-item">電話番号（直通）</li>
            <li class="company-show-info-item">会社概要</li>
          </ul>
          <%# 未投稿時の表示 %>
          <% if @post.nil? %>
          <ul class="company-info-content">
            <li class="input-content", id="company-name">HOGE株式会社</li>
            <li class="input-content", id="prefecture">東京都</li>
            <li class="input-content", id="address">渋谷区1234-5678</li>
            <li class="input-content", id="building_name">hogeビル3F</li>
            <li class="input-content", id="employee_number">300人</li>
            <li class="input-content", id="division">WEB制作部</li>
            <li class="input-content", id="representative_name">山田太郎</li>
            <li class="input-content", id="email">sample@hoge.com</li>
            <li class="input-content", id="represent_phone_number">1234567891</li>
            <li class="input-content", id="direct_phone_number">1234567898</li>
            <li class="input-content", id="business_detail">Webサービス設計会社です。大手企業からの案件多数引き受けております！</li>
          </ul>
          <% end %>
          <ul class="company-info-content">
            <li class="input-content", id="company-name"><%= @post.company_name %></li>
            <li class="input-content", id="prefecture"><%= @post.prefecture.name%></li>
            <li class="input-content", id="address"><%= @post.address %></li>
            <li class="input-content", id="building_name">
              <% if @post.building_name.empty? %>
                <p class="blank-input">未入力</p>
              <% else %>
                <%= @post.building_name %>
              <% end %>
            </li>
            <li class="input-content", id="employee_number"><%= @post.employee_number %></li>
            <li class="input-content", id="division">
              <% if @post.division.empty? %>
                <p class="blank-input">未入力</p>
              <% else %>
                <%= @post.division %>
              <% end %>
            </li>
            <li class="input-content", id="representative_name"><%= @post.representative_name %></li>
            <li class="input-content", id="email"><%= @post.email %></li>
            <li class="input-content", id="represent_phone_number"><%= @post.represent_phone_number %></li>
            <li class="input-content", id="direct_phone_number">
              <% if @post.direct_phone_number.empty? %>
                <p class="blank-input">未入力</p>
              <% else %>
                <%= @post.direct_phone_number %>
              <% end %>
            </li>
            <li class="input-content", id="business_detail"><%= @post.business_detail %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="show-btn-form">
    <% if contracted_side_user_signed_in? %>
      <%= link_to "編集する", edit_post_path(@post), method: :get, class: "edit-path-btn" %>
    <% else %>
      <% if !Favorite.exists?(consignment_side_user_id: current_consignment_side_user.id, post_id: @post.id) %>
        <%= link_to "お気に入り", post_favorites_path(@post), method: :post, class:"favorite-btn" %>
      <% else %>
        <%= link_to "お気に入り解除", post_favorites_path(@post), method: :delete, class:"favorite-release-btn" %>
      <% end %>
    <% end %>
  </div>
<div>
<%= render "shared/footer" %>