<%= render "shared/header" %>
<div class="sesions-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">ログイン</h1>
  </div>
</div>
<%= form_with model: @consignment_side_user, url: consignment_side_user_session_path, class: 'sessions-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="form-group">
    <p class="warning-note">※会社をお探しの方</p>
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"account@domain.com", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class='warning-note'>
    <%= link_to 'メールアドレス又はパスワードを忘れた方', "#", class:'forget-id' %>
  </div>
  <div class='form-btn'>
    <div class='register-btn'>
      <%= f.submit "ログイン" ,class:"register-bronze-btn" %>
    </div>
    <%= link_to root_path, class:'root-path' do %>
    <button>戻る</button>
    <% end %>
  </div>
<% end %>
</div>
<%= render "shared/footer" %>
