<div class='footer'>
  <div class='footer-contents'>
    <ul class='footer-links'>
      <li><%= link_to '企業情報', "#", class: "footer-link" %></li>
      <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
      <li><%= link_to '利用条件', "#", class: "footer-link" %></li>
      <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
      <li><%= link_to 'ヘルプ・お問い合わせ', "#", class: "footer-link" %></li>
    </ul>
    <p class='c-app-name'> ©︎ Assistance Company</p>
  </div>
</div>