<%# 背景画像 %>
<div class="back-img">
<%= render "shared/header" %>
<%# 画像上文字列 %>
  <div class="app-description">
    <p class="description-text">Assistance Companyとは...</p>
    <p class="description-text">・外注したいけど、どこに頼んでいいか分からない</p>
    <p class="description-text">・自社の情報をもっと発信したい</p>
    <p class="description-text">そんな方にオススメのサービスです！</p>
    <p class="app-title-script">New encounter</p>
  </div>
</div>
<body>
  <%# 検索バー %>
  <div class="search-bar">
    <form class="search-form" action="#">
      <input class="input-box" placeholder='フリーワードを記入 (ex.東京都,設計)'>
      <button class="search-button">検索する</button>
    </form>
  </div>
<%# 会社一覧 %>
    <div class="title-bar-main">
      <h1 class="title-bar-main-content">会社一覧</h1>
    </div>
  <%#= link_to post_path(post.id) do %>
    <div class="company-lists">
    <% @posts.each do |post| %>
      <div class="company-list">
        <div class="company-content-img">
          <% if @posts.empty? %>
          <%= image_tag "company-image.jpg", class: "company-img" %>
          <% end %>
          <%= image_tag post.image, class: "company-img" %>
        </div>
        <div class="company-info-contents">
          <ul class="company-info-items">
            <li class="company-info-item">会 社 名</li>
            <li class="company-info-item">所 在 地</li>
            <li class="company-info-item">会社概要</li>
          </ul>
          <ul class="company-info-content">
            <li class="input-content"><%= post.company_name %></li>
            <li class="input-content"><%= post.prefecture.name %></li>
            <li class="input-content"><%= post.business_detail %></li>
          </ul>
          <%# 未投稿時の表示 %>
          <% if @posts.empty? %>
            <ul class="company-info-content">
              <li class="input-content">HOGE株式会社</li>
              <li class="input-content">東京都</li>
              <li class="input-content">Webサービス設計会社です。大手企業からの案件多数引き受けております！</li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  <%# end %>
</body>
<%= render "shared/footer" %>
