<%# 背景画像 %>
<div class="back-img">
<%= render "shared/header" %>
<%# 画像上文字列 %>
  <div class="app-description">
    <p class="description-text">Assistance Companyとは...</p>
    <p class="description-text">・外注したいけど、どこに頼んでいいか分からない</p>
    <p class="description-text">・自社の情報をもっと発信したい</p>
    <p class="description-text">そんな方にオススメのサービスです！</p>
    <p class="app-title-script">New encounter</p>
  </div>
</div>
<body>
  <%# 検索バー %>
  <div class="search-bar">
    <i class="fas fa-search">会社を検索する</i>
    <%= search_form_for @q, url: search_posts_path, class: "search-form" do |f| %>
    <%= f.collection_select :industry_id_eq, Industry.where.not(id: 1), :id, :name, include_blank: '業種を選択', class:"search-select-box" %>
    <i class="fas fa-times"></i>
    <%= f.collection_select :prefecture_id_eq, Prefecture.where.not(id: 1), :id, :name, include_blank: '都道府県を選択', class:"search-select-box" %>
    <i class="fas fa-times"></i>
    <%= f.search_field :company_name_or_division_or_representative_name_or_business_detail_cont, placeholder: "キーワードを記入", class: "input-box" %>
    <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
<%# 会社一覧 %>
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">会社一覧</h1>
  </div>
  <div class="company-lists">
    <%# 投稿内容がない場合 %>
    <%= link_to "#" do %>
      <% if @posts.empty? %>
        <div class="company-list">
          <div class="company-content-img">
            <%= image_tag "company-image.jpg", class: "company-img" %>
          </div>
          <div class="company-info-contents">
            <ul class="company-info-items">
              <li class="company-info-item">会 社 名</li>
              <li class="company-info-item">所 在 地</li>
              <li class="company-info-item">会社概要</li>
            </ul>
            <ul class="company-info-content">
              <li class="input-content">HOGE株式会社</li>
              <li class="input-content">東京都</li>
              <li class="input-content">Webサービス設計会社です。大手企業からの案件多数引き受けております！</li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# 投稿内容がある場合 %>
    <% @posts.each do |post| %>
      <%= link_to post_favorites_path(post.id) do %>
        <div class="company-list">
          <div class="company-content-img">
            <%= image_tag post.image, class: "company-img" %>
          </div>
          <div class="company-info-contents">
            <ul class="company-info-items">
              <li class="company-info-item">会 社 名</li>
              <li class="company-info-item">所 在 地</li>
              <li class="company-info-item">会社概要</li>
            </ul>
            <ul class="company-info-content">
              <li class="input-content"><%= post.company_name %></li>
              <li class="input-content"><%= post.prefecture.name %></li>
              <li class="input-content"><%= post.business_detail %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</body>
<%= render "shared/footer" %>
