<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">検索結果</h1>
  </div>
</div>
<% if @posts.present?%>
  <div class="company-lists">
    <% @posts.each do |post| %>
      <%= link_to post_path(id: post.id) do %>
        <div class="company-list">
          <div class="company-content-img">
            <%= image_tag post.image, class: "company-img" %>
          </div>
          <div class="company-info-contents">
            <ul class="company-info-items">
              <li class="company-info-item">会 社 名</li>
              <li class="company-info-item">所 在 地</li>
              <li class="company-info-item">会社概要</li>
            </ul>
            <ul class="company-info-content">
              <li class="input-content"><%= post.company_name %></li>
              <li class="input-content"><%= post.prefecture.name %></li>
              <li class="input-content"><%= post.business_detail %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="no-search-message">
    <i class="fas fa-exclamation-triangle">条件に一致する会社は見つかりませんでした</i>
  </div>
<% end %>
<%= render "shared/footer" %>