<%= render "shared/header" %>
<div class="posts-title">
  <div class="title-bar-main">
    <h1 class="title-bar-main-content">レビュー一覧</h1>
  </div>
</div>
<% @reviews.each do |review| %>
  <% if @reviews.present? %>
    <div class="company-review-main">
      <div class="company-review-wrap">
        <div class="company-review-list">
          <ul class="review-items">
            <li class="review-item"><span class="fa fa-star" id="star"></span>3.4(仮)</li>
            <li class="review-item"><b><%= review.title %></b></li>
            <li class="review-item" style="color:#a0a0a0"><%= review.created_at.to_s(:datetime_jp) %>に投稿済み</li>
            <li class="review-item"><%= review.comment %></li>
          </ul>
        </div>
        <% if consignment_side_user_signed_in? && review.consignment_side_user_id == current_consignment_side_user.id %>
          <div class="post-btn-form">
            <div class="posted-edit-btn-form">
              <%= link_to edit_review_path(@review), method: :get, class:"posted-edit-btn" do %>
                <i class="fas fa-edit">編集する</i>
              <% end %>
            </div>
            <div class="posted-delete-btn-form">
              <%= link_to review_path(@review), method: :delete, class:"posted-delete-btn" do %>
                <i class="far fa-trash-alt">削除する</i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="company-review-main">
      <div class="company-review-wrap">
        <div class="no-search-message">
          <i class="fas fa-exclamation-triangle">現在、レビューは投稿されておりません</i>
        </div>
      </div>
    </div>
  <% end %>
<% end%>
<%= render "shared/footer" %>